body{
  text-align:center;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
  background-color:black;
}

#home{
  background-color: black;
}

#picture{
  width:625px;
}
#picture:hover{
  transform:scale(0.9);
}

.menu{
  list-style: none;
  position: fixed;
  top:10px;
  right: 130px;
  z-index: 10;
  cursor: pointer;
}
.links{
  float: left;
    color: rgb(0, 0, 0);
    padding-top: 0px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-size: 20px;
  text-decoration: none;
    }
.links a:hover{
    color: #fe8f3d;
}

.links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
    


#img1{
  width:450px;
  border-style:solid;
  border-radius:10%;
  border-color:white;
  border-width:4px;
}

#add{
  padding-right:175px;
  padding-left:175px;
  text-align:center;
  color:white;
   
}

h1{
  color:white;
}